<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="pos-f-t" style="font-size:80%">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
            <input type="text" class="input-sm form-control" name="project_name" placeholder="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>         
            <a class="navbar-brand" href="{%url 'welcome'%}">Awwards</a>
            <a class="nav-link" href="{%url 'upload'%}" style="color: white">Submit project</a>
            <a class="nav-link" href="/accounts/register/" style="color: white">Register</a>

    </nav>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'welcome'%}" style="color: white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myprofile' %}" style="color: white">Profile</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}" style="color: white">Users API</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}" style="color: white">Project API</a>
                </li>
                {% if user.is_authenticated %}  
                <li class="nav-item">
                    <a href="/accounts/password/change" style="color: white">Change Password</a> 
                </li>
                <li class="nav-item">
                    <a href="/logout" style="color: white">Logout</a>               
                </li>         
                                            
                {% else %} 
                <a class='btn btn-default' href="/accounts/login" style="color: white">Login</a>  
                {% endif %}
            </ul>
        </div>
    </div>
</div>


</body>
</html>